<h1>New Addition</h1>

<form action = "/wizard_add">
  <label for="first_number">Add this: </label>
  <input id="first_number" type="text" name="num_1">

  <label for="second_number">to this: </label>
  <input id="second_number" type="text" name="num_2">

  <button>Add!</button>
</form>
