<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_num">Multiply this:</label>
  <input id="first_num" type="text" name="num_1">

  <label for="sec_num">by this:</label>
  <input id="sec_num" type="text" name="num_2">

  <button>Multiply!</button>
</form>
